
/* ------------------------------------------------------------------layout */
body {
	font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif; /* edit this to font type */
	background-color: #d6d0ad;
}
a {
	text-decoration: none;
}
footer {
	margin-top: 50px;
	margin-bottom: 35px;
	text-align: center;
}
a[class*="socicon-"] {
	/*font-size: 1.1em;*/
}

form{
	width:100%;
	display: inline-block;
	text-align: center;
}
input,textarea{
	width:50%;
	text-align: left;
}

/* ----------------------------------------------------------------skeleton */
div.row {
	margin-bottom: 1%;
}
nav a.columns {
    margin-left: 4%;
}
.row-span-2 .twelve.columns {
	width: 100%;
}

.button-primary{
	background-color: #d6d0ad;
}
