@font-face {
	font-family: 'Intro';
	src: url('../fonts/Intro.otf');
	format('opentype');
}

/* ----------------------------------------------------------general layout */
* {
	box-sizing: border-box;
}
body {
	font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;  
	background-color: #f2ebc7;
	text-align: center;
}
footer {
	clear: left;
	padding-top: 50px;
	margin-bottom: 35px;
}
footer p {
	margin-top: 35px;
}
a {
	text-decoration: none;
}
a, a:focus, a:active {
	color: #901808;
}
a:hover {
	opacity: 0.7;
	color: #348899;
}

/* ------------------------------------------------------------fluid videos */
.fluid-width-video-wrapper {
	max-width: auto;
	overflow: hidden;
	width: auto;
}

/* -------------------------------------------------------content structure */

nav, .card, .landscape, .text-box, blockquote {
	border: 3px solid #f2ebc7;
}
nav {
	border-top: none;
}
.card {
	max-width: 50%;
	float: left;
}
.card.landscape {
	max-width: 100%;
}
.social-media a {
	padding-left: 3%;
	padding-right: 3%;
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	.container {
		width: 80%;
	}
	nav, .card, .landscape, .text-box, blockquote {
		border: 5px solid #f2ebc7;
	}
	nav {
		border-top: none;
	}
	a[class*="socicon-"] {
	font-size: 3em;
	}
}
/* Scale social icons */
@media (max-width: 980px) {
	a[class*="socicon-"] {
	font-size: 2em;
	}
}
/* Scale social icons */
@media (max-width: 740px) {
	a[class*="socicon-"] {
	font-size: 1.6em;
	}
}
/* Scale social icons */
@media (max-width: 600px) {
	a[class*="socicon-"] {
	font-size: 1.2em;
	}
}
/* Scale social icons */
@media (max-width: 370px) {
	a[class*="socicon-"] {
	font-size: 1em;
	}
}

/* ------------------------------------------------------------contact form */
form {
	width: 100%;
	text-align: center;
	margin-bottom: 0;
}
input, textarea {
	width: 100%;
	text-align: left;
	font-size: 1.4em;
	color: #333;
}
input:focus, textarea:focus {
    border-color: #444 !important;
}
input.button-primary {
	background-color: #444 !important;
	border-color: #444 !important;
	color: #F2EBC7 !important;
	font-family: inherit;
	font-size: 1.1em;
	margin-bottom: 0;
}
input.button-primary:hover {
	opacity: 0.7;
}
@media (min-width: 550px) {
	input, textarea {
		width: 70%;
	}
}
::-webkit-input-placeholder {
   font-family: 'Intro';
}
:-moz-placeholder { /* Firefox 18- */
   font-family: 'Intro';  
}
::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Intro';  
}
:-ms-input-placeholder {  
   font-family: 'Intro'; 
}

/* ----------------------------------------------------------------text box */
.text-box {
	background-color: #eee;
	color: #444;
	position: relative;
	width: 50%;		/* desired width */
	overflow: hidden;
}
.text-box:before {
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.text-box .content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.content div {
   display: table;
   width: 100%;
   height: 100%;
}
.content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* ------------ Temp Styles ----------------*/
#contact {
	clear: left;
	padding-top: 50px; 
}